* {
	box-sizing: border-box;
}

html {
	height: 95%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: gray;
}

canvas {
	border: 1px solid #000000;
	background-color: #f1f1f1;
	margin-bottom: 5px;
}

div.game-container {
	display: flex;
	flex-direction: column;
}
	
div.controls-panel {
	display: flex;
}

div.game-footer {
	display: flex;
	justify-content: space-between;
}

div.timer-container {
	display: flex;
	justify-content: flex-end;
	background-color: lightgrey;
	border: 1px solid black;
	border-radius: 2px;
}

div.timer-container p {
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}

button.game-control-button {
	border-radius: 4px;
	padding: 5px;
	margin: 5px;
}

button.game-control-button:hover {
	cursor: pointer;
}

button.start-button {
	background-color: blue;
	color: white;
}

button.stop-button {
	background-color: red;
	color: white;
}
